.modalContainer {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
}

.modalWindow {
  background-color: white;
  padding: 15px;
  border-radius: 5px;
  position: relative;
  top: 45%;
  transform: translateY(-50%);
}

.modalFooter {
  display: flex;
  justify-content: flex-end;
}

.modalCloseIcon {
  height: 1rem;
}