.logo {
  background-image: url('../../../assets/images/logo.png');
  background-position: center;
  background-size: 55px 55px;
  background-repeat: no-repeat;
  
  width: 45px;
  height: 36px;
  filter: invert(100%);
  display: inline-block;

  margin-right: 5px;
  position: absolute;
}

.headerText {
  margin-top: 0;
}

.logoTextContainer {
  align-items: center;
}

#desktopHeader {
  display: none;
}

@media only screen and (min-width: 768px) {
  #header {
    display: none;
  }

  #desktopHeader {
    display: block;
  }

  #navBar {
    height: 7.5vh;
    background-color: rgba(0,0,0,.87);
    color: white;
  }

  .desktopLandingText {
    position: absolute;
    display: block;
    z-index: 1;
    margin: 20vh;
    padding-top: 10vh;
    font-size: 7.5vmin;
  }
}