.calendar .react-calendar__navigation{
  font-size: 1.5em;
}

/* .calendar .react-calendar__tile--active:enabled:hover, .react-calendar__tile--active:enabled:focus{
  background: teal;
}  */

/* .calendar .react-calendar__tile--active{
  background: lightseagreen
} */

.calendar .react-calendar__navigation__arrow.react-calendar__navigation__next2-button,
.calendar .react-calendar__navigation__arrow.react-calendar__navigation__prev2-button{
  display: none;
}
.calendar .react-calendar__month-view__days__day--weekend {
  color: black;
}

.calendar .active{
  background-color: #75a568;
}

.calendar .booked{
  background-color: #e8993a;
}

.calendar .booked:hover{
  background-color: orangered !important;
}

.calendar .react-calendar__tile:enabled:hover, .react-calendar__tile:enabled:focus{
  background-color: none
}

.calendar .active:focus:active:hover{
  background-color: #75a568 !important;
}
