.calendar .react-calendar__navigation{
  font-size: 1.5em;
}

.calendar .react-calendar__navigation__arrow.react-calendar__navigation__next2-button,
.calendar .react-calendar__navigation__arrow.react-calendar__navigation__prev2-button{
  display: none;
}
.calendar .react-calendar__tile {
  color: black;
}

.calendar .active{
  background-color: #75a568;
}

.calendar .booked{
  background-color: #e8993a;
}

.calendar .active:active{
  background-color: darkgreen !important;
}

.active.react-calendar__tile--active:enabled:focus{
  background-color: darkgreen;
}

.calendar .booked:active{
  background-color: orangered !important;
}

.booked.react-calendar__tile--active:enabled:focus{
  background-color: orangered !important;  
}

.calendar .active:hover{
  background-color: darkgreen !important;
}

.calendar .booked:hover{
  background-color: orangered !important;
}

.calendar .react-calendar__tile:enabled:focus, .react-calendar__tile:enabled:focus{
  background-color: none !important;
}

.calendar .active:focus:active:hover{
  background-color: #75a568 !important;
}

.calendar .react-calendar__tile--active{
  background: white !important;
}

.calendar .booked.react-calendar__tile--active{
  background-color: orangered !important;
}


.calendar .active.react-calendar__tile--active{
  background: darkgreen !important;
}

.react-calendar__navigation__label {
  pointer-events: none;
}
