.host{
    margin-top: 0;
    margin-bottom: 0;
}

.react-calendar{
    margin: auto;
    margin-top: 1em;
}

#detailsIcon{
    margin-right: 5px;
}

.reviews{
    margin-top: 1em; 
}

.active:hover, .calendar .react-calendar__tile--active:enabled:hover, .react-calendar__tile--active:enabled:focus{
    background-color: #1087ff !important;
}

#guests{
    right: 48px;
}
  