.react-calendar{
    margin: auto;
    margin-top: 1em;
}

.detailsHeading-1 {
  font-size: 1.75rem;
}

.detailsHeading-2 {
  font-size: 1.5rem;
}

.marginTop {
  margin-top: 1rem !important;
}

.marginTopBig {
  margin-top: 2.5rem !important;
}

.marginBottom {
  margin-bottom: 1rem !important;
}

#detailsIcon{
    margin-right: 5px;
}

.reviews{
    margin-top: 1em; 
}


.active{
    background-color: lightsalmon
}

.active:hover, .calendar .react-calendar__tile--active:enabled:hover, .react-calendar__tile--active:enabled:focus{
    background-color: #1087ff !important;
}

#guests{
    right: 48px;
}
