.image-container {
  text-align: center;
  margin: 10px;
}

.noMarginButton {
  margin-right: 0 !important;
}

.ui.click.button {
  position:relative;
  overflow:hidden;
  padding-right:0!important;
  vertical-align:middle;
  z-index:1;
}

.ui.click.button.content {
  will-change:transform,opacity
}

.ui.click.button .visible.content {
  position:relative;
  margin-right:1.5em
}

.ui.click.button .hidden.content {
  position:absolute;
  width:100%
}

.ui.click.button .hidden.content,.ui.click.button .visible.content {
  -webkit-transition:right .3s ease 0s;
  transition:right .3s ease 0s;
  transition-delay: 1s;

}

.ui.click.button .visible.content {
  left:auto;
  right:0
}

.ui.click.button .hidden.content {
  top:50%;
  left:auto;
  right:-100%;
  margin-top:-.5em
}

.ui.click.button:focus .visible.content,.ui.click.button:active .visible.content {
  left:auto;
  right:200%;
}

.ui.click.button:focus .hidden.content,.ui.click.button:active .hidden.content {
  left:auto;
  right:0;
}
