#footer .mainContent {
  height: 7.5vh;
  width: 100%;
  background-color: rgba(0,0,0,.87);
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  bottom: 0;
}

.footerSpace {
  height: 10vh;
}