.menu {
  background-color: #6FCF97 !important;
  height: 100vh;
  padding: 2rem;
  position: fixed;
  z-index: 2;
  right: 0;
  top: 0;
  margin: 0 !important;
  transform: translateX(100%);
  transition: all .4s ease-out !important;
}

.open {
  transform: translateX(0%);
}

.menu * {
  color: white !important;
  font-size: 1.5rem !important;
}

.close {
  float: right;
  color: black !important;
}

.linksContainer {
  margin-top: 20px;
}
